<h1>Toolbox</h1>

<ul>
  <% @tools.each do |tool|%>
  <li class="tool">
    <%= tool.name %>
    <% if tool.checkedin == true %>
      <%= link_to "Borrow", borrow_tool_path(tool), class: "borrow-tool" %>
    <% end %>
  </li>
  <% end %>
</ul>

<div class='add_button'>
  <% if current_user.admin == true %>
    <%= link_to "Add tool", new_tool_path %>
  <% end %>
</div>
