<h1>Toolbox</h1>

<ul>
  <% @tools.each do |tool|%>
  <li>
    <%= tool.name %>
    <% if tool.checkedin == true %>
      <%= link_to "Borrow", borrow_tool_path(tool) %>
    <% end %>
  </li>
  <% end %>
</ul>

<%= link_to "Add tool", new_tool_path %>

