/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.datepicker
 *= require_self
 *= require_tree .
 */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html {
  font-size: 1em;
  line-height: 1.2;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

p {
  color: #222;
}

header {
  margin-top: 120px;
  width: 100%;
  padding: 20px;
}

nav ul {
  width: 100%;
}

nav {
  display: table;
  width: 100%;
  text-align: center;
  background: #a7bc7a url(pattern.png) top left repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #839b4e;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

nav a:hover {
  color: #586835;
  text-shadow: 0 1px 1px #bdcd9c;
}

nav a:visited {
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 -1px 1px #586835;
  border-right: 1px solid #839b4e;
}

nav ul {
  vertical-align: middle;
  display: table-row;
}

nav ul li {
  vertical-align: middle;
  display: table-cell;
  list-style: none;
  border-right: 1px solid #b2c58b;
}

nav ul li:hover {
  background: #9cb369 url(pattern.png) top left repeat;
}

body{
  background-image: url("grass-small.jpg");
  background-repeat: no-repeat;
}


.forecast {
  display: none;
}


.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    background: #a7bc7a url(pattern.png) top left repeat;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #839b4e;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.content-inner {
  width: 100%;
  color: white;
}


/*calendar div name
display none
*/


/*BREAKPOINT STUFFFFFF*/
/* background image*/

@media (min-width: 400px) {

    body {
    background-image: url("grass-medium.jpg");
    background-repeat: no-repeat;
    }
}

@media (min-width: 800px) {
    body {
    background-image: url("grass-large.jpg");
    background-repeat: no-repeat;
    }
}

/*end image stuff*/

@media (min-width: 760px) {

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
}

  .content-inner {
    padding-left: 5px;
    float: right;
    width: 70%;
  }

  .sidebar {
    padding-right: 30px;
    float: left;
    width: 30%;
}

  .forecast {
    display: inline-block;
  }
}


@media (min-width:992px){

  .container {
      width: 970px;
      padding-left: 35px;
      padding-right: 35px;
    }
}

@media (min-width:1200px){

  .container {
        width: 1170px;

    }
}



