/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.datepicker
 *= require_self
 *= require_tree .
 */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

p {
  color: #222;
}

header {
  width: 100%;
  padding: 20px;
}

nav ul {
  width: 100%;
}

nav {
  display: table;
  width: 100%;
}

nav ul {
  vertical-align: middle;
  display: table-row;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  vertical-align: middle;
  display: table-cell;
  list-style: none;
}

.forecast {
  display: none;
}


.container {
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
}

.content {
  width: 100%;
}

/*calendar div name
display none
*/

@media (min-width: 760px) {

  .content-inner {
    float: right;
    width: 70%;
  }

  .sidebar {
    float: left;
    width: 30%;
  }

  .forecast {
    display: inline-block;
  }
}

/*BREAKPOINT STUFFFFFF*/
/*

@media (min-width:768px){.container {
        width: 750px
    }
}

@media (min-width:992px){.container {
        width: 970px
    }
}

@media (min-width:1200px){.container {
        width: 1170px
    }
}
*/
